body {
    background-color: #fff0f5;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 60px;
}
input, button {
    padding: 10px;
    margin: 10px;
    width: 250px;
}
h1, h2 {
    color: #d60087;
}
a {
    color: #6b00d6;
    text-decoration: none;
}
